*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html { 
    font-size: 62.5%;
    
    // // from biggest to smallest with max-with to work
    // @include respond(tab-land) {
    //     font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    // }
    // @include respond(tab-port) {
    //     font-size: 50%; // 1rem = 8px, 8/16 = 50%
    // }
    // @include respond(phone) {
    //     font-size: 37.5%; // 1rem = 6px, 6/16 = 37.5%
    // }
    // // min width for biggest screens can be at the end
    // @include respond(big-desktop) {
    //     font-size: 75%; // 1rem = 12, 12/16 = 80%
    // }
}
body {
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}