// COLORS
:root {
    //COLORS
    --color-one: #392651;
    --color-two:#7D19AF;
    --color-three: #CCC3C5;
    --color-four: #DA3159;
    --color-five: #F8F5FA;
    // FONT SIZE
    --font-small: 1.3rem;
    --font-middle: 1.7rem;
    --font-big: 2rem;
    // BORDER FORM

    --border-form: .1px solid var(--color-four);
}

